body{
	font-family: 'Veranda', 'Open Sans', Arial, Helvetica, sans-serif;
	/*font-family: "Comic Sans MS";*/
    font-weight: 400;
    background-color: lightgrey;
}


.inline {
	height: 125px;
	/*width: 30%;*/
	
	padding: 0px;
	border: 2px solid black;
	display: inline-block;
	/*margin: 10px;*/
	background-color: black;
	color: white;
}
.inline ul {
	padding: 0px 5px;
}
.inline li {
	list-style: none;
}
#myTable {
	background-color: white;
}
#all-pat-list {
	text-align: center;
}
#info-sect {
	max-height: 300px;
	/*min-width: 100%;*/
	margin: 1em auto;
	overflow: hidden;
}
#header-bar {
	font-size: 18px;
	font-weight: bold;
	background-color: black;
	height: 100px;
	color: white;
	padding: 15px;
}
#logo {
    height: 56px;
    width: 300px;
}
#pat-info {
	float:left;
}
#staff-info {
	float:left;
}
#chartContainer {
	background-color: black;
}
#login-form {
	margin: 10% auto;
	padding: 1em 2em;
	/*border: 2px solid black;*/
	background-color: white;
	/*text-align: center;*/
	/*color: white;*/
	height: 250px;
	width: 300px;
	/*border-radius: 10px;*/
}
#submitLogin {
	float: left;
	width: 250px;
	margin-top: 2.5em;
}

.sub-head{
    font-size: 1.3em;
    line-height: 3px;
}
.number-data{
    font-size: 4em;
    color: green;
}

h2{
    font-size: 2em;
    font-weight: 800;
    /*line-height:2px;*/
}
label {
	margin-top: 1.5em;
}
input {
	width: 250px;
}
.sensor-info{
    border: 2px solid black;
    height: 200px;
	width: 200px;
    padding: 0px;
	display: inline-block;
	background-color: black;
	color: white;
	text-align: center;
    vertical-align: middle;
    margin-right:0px;
    /*line-height: px; */
}
.info-span {
	/*color:green;*/
	color: white;
	font-size: 1.3em;
}

.move-right{
	margin-left: 70px;
}
